<ion-menu contentId="content">
    <ion-header>
        <ion-toolbar>
            <ion-title></ion-title>
            <ion-img src="../../../assets/icon/icongob.png" style="width: 48px; height: 48px; display: block; margin: auto;"></ion-img>
        </ion-toolbar>
    </ion-header>


    <ion-content [scrollEvents]="true" color="secondary">

        <div *ngFor="let h of home">
            <ion-menu-toggle *ngIf="h.url">
                <ion-item [routerLink]="h.url" routerDirection="root" routerLinkActive="active">
                    <ion-label>
                        {{h.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </div>

        <div *ngFor="let l of links">
            <ion-item (click)="openUrl(l.url)" routerDirection="root" routerLinkActive="active">
                <ion-label>
                    {{l.title}}
                </ion-label>
            </ion-item>
        </div>

        <div *ngFor="let p of pages">
            <ion-menu-toggle *ngIf="p.url">
                <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
                    <ion-label>
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-item *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open" detail="false">
                <ion-label>{{p.title}}</ion-label>
            </ion-item>

            <ion-list *ngIf="p.open">
                <ion-menu-toggle>
                    <ion-item class="sub-item" *ngFor="let sub of p.children" (click)="openUrl(sub.url)" routerDirection="root" routerLinkActive="active">
                        <ion-label>
                            {{sub.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </div>
    </ion-content>

    <!-- Footer without a border -->
    <ion-footer>
        <ion-toolbar class="footerColor">
            <div class="ion-text-center footerColor">
                <p (click)="openUrl('https://gobiernodeguatemala.tv/')" class="min-text-footer">Gobierno de Guatemala</p>
            </div>
        </ion-toolbar>
    </ion-footer>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>