.active {
    --ion-text-color: var(--ion-color-primary);
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}

.active-parent {
    font-weight: 500;
}

.sub-item {
    padding-left: 20px;
    font-size: small;
}

.min-text-footer {
    font-size: 12px;
    font-family: 'Montserrat-Regular' !important;
}