<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Noticias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let n of notices">
        <ion-card style="height: 100%; padding: 5px;" [routerLink]="n.guid.rendered" routerDirection="root" routerLinkActive="active">
            <ion-label>
                {{n.title.rendered}}
            </ion-label>
            <p>{{n.date}}</p>
            <ion-button (click)="openUrl(n.guid.rendered)">
                Ver más
            </ion-button>
        </ion-card>

    </div>

</ion-content>