<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img src="../../../assets/icon/icongob.png" style="width: 48px; height: 48px; display: block; margin: auto;"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="footerColor">
    <p>Canal de Gobierno</p>

    <div style="padding-left: 20px; padding-right: 20px;">
        <iframe src="https://video.ibm.com/embed/24026354?autoplay=true&showtitle=false" style="border: 0;" webkitallowfullscreen allowfullscreen frameborder="no" width="100%" height="100%" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div *ngFor="let n of schedule; let i = index">
        <div *ngIf="i == 0">
            <p class="min-text">Estás viendo...</p>
            <p class="min-text">{{n.title.rendered}}</p>
        </div>
        <div *ngIf="i == 1">
            <p class="min-text">A continuación...</p>
            <p class="min-text">{{n.title.rendered}}</p>
        </div>

    </div>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border footerColor" color="primary">
    <ion-toolbar class="footerColor">
        <div class="ion-text-center footerColor">
            <p>Síguenos</p>
            <ion-grid style="padding-left: 80px; padding-right: 80px;" class="footerColor">
                <ion-row>
                    <ion-col>
                        <ion-icon (click)="openFB()" ios="logo-facebook" md="logo-facebook"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon (click)="openTW()" ios="logo-twitter" md="logo-twitter"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon (click)="openIG()" ios="logo-instagram" md="logo-instagram"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon (click)="openYT()" ios="logo-youtube" md="logo-youtube"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <p class="min-text-footer">Secretaría de Comunicación Social de la Presidencia 2020.</p>
            <p class="min-text-footer">&copy; Copyright - Todos los derechos reservados.</p>
        </div>
    </ion-toolbar>
</ion-footer>