ion-content {
    --ion-background-color: #0f3755;
}

ion-footer {
    --ion-background-color: #0f3755;
}

img {
    width: 48px;
    height: 48px;
}

.footerColor {
    background-color: #0f3755;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

p {
    color: white;
}

.min-text {
    font-size: 10px;
    font-family: 'Montserrat-Regular' !important;
    color: white;
}

.min-text-footer {
    font-size: 8px;
    font-family: 'Montserrat-Regular' !important;
    color: white;
}